.about-section {
    padding: var(--section-padding) 30px;
}

.about-me {
    line-height: 1.8;
    font-style: italic;
    font-size: 18px;
}

/* Media Query */
@media(max-width: 576px) {
    .about-section {
        padding: var(--section-padding) 20px;
    }

    .about-me {
        font-size: 17px;
    }
}